[submodule "Apate/vendor/spdlog"]
	path = Apate/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Apate/vendor/GLFW"]
	path = Apate/vendor/GLFW
	url = https://github.com/TheUnicum/glfw
[submodule "Apate/vendor/imgui"]
	path = Apate/vendor/imgui
	url = https://github.com/TheUnicum/imgui
